BasedOnStyle:              Google
IndentWidth:               4
ColumnLimit:               120
BraceWrapping:
  AfterFunction:           true
  AfterClass:              true
  AfterControlStatement:   false
BreakBeforeBraces:         Custom
PointerAlignment:          Left
SpaceAfterTemplateKeyword: false
SortIncludes:              false
